<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <meta charset="UTF-8">
        <title>Links</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    <body>

        {% if user.is_authenticated %}
        
            {% include 'warelogic_app/tabs.html' %}

            <h2>Reset Password</h2>
            <div class="container">
                <form method="POST" action="#">
                    <input type="text" id="username" name="username">
                    <input type="radio" id="reset" name="reset" value="reset" checked>
                    <label for="reset">Reset Password</label>
                    <button type="submit">Change Password</button>
                    {% csrf_token %}
                </form>
            </div>


            {% else %}
            <li><a class="navbar-link" href="{% url 'userLogin' %}">Login</a></li>
            {% endif %}
            {% csrf_token %}
        </body>
    </html>