<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <meta charset="UTF-8">
        <title>Links</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    <body>

        {% if user.is_authenticated %}
        
            {% include 'warelogic_app/tabs.html' %}

            
                <h2>Change Password</h2>
                <form method="post">
                    {{form}}
                    {% csrf_token %}
                    <input type="radio" id="login_type" name="login_type" value="window" checked>
                    <label for="login_type">Window</label>
                    <button type="submit">Change Password</button>
                </form>

                <div class="container">{% include 'warelogic_app/message.html' %}</div>
                

            {% else %}
            <li><a class="navbar-link" href="{% url 'userLogin' %}">Login</a></li>
            {% endif %}
            {% csrf_token %}
        </body>
    </html>